<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EquipmentRepair.WinForm.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EquipmentRepair.WinForm.UI.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>"Server=DESKTOP-U9RGK02;Database=Test;Trusted_Connection=True"</value>
            </setting>
        </EquipmentRepair.WinForm.UI.Properties.Settings>
    </userSettings>
</configuration>